{% extends "base.html" %}
{% block content %}
<h2>Admin Dashboard</h2>
<p><a href="{{ url_for('activity_log') }}">View Activity Log</a></p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td><a href='/sessionview/{{ user[0] }}'>View Session Summary</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
